.headerLogo {
    background: #8c8c8c;
    padding: 0 5px 0 5px;
    margin: 0 70px -16px 0;
    height: 75px;
}

.header {
    margin-bottom: 16px;
    position: relative;
    z-index: 1;
}

.headerMenu {
    padding: 0;

    .menu {
        & > .menuSubMenu {
            & > label:before {
                background: transparent;
            }
        }

        & > .menuItem {
            height: 25px;
            float: left;

            padding: 25px 20px 25px 20px;
            color: #fff;
            font-size: 20px;
            font-weight: normal;
            margin: 0 0 -15px 0;
            text-transform: none;
            background: #a5a5a5;

            & > label {
                .textLabel {
                    color: #fff;
                }
            }

            & > a {
                color: #fff;
            }
        }
    }
}

