.footer {
    & > div {
        padding: 0 10px;

        .logo {
            float: left;
            clear: none;
            width: auto;
            padding: 10px 0;
        }

        .contacts {
            float: left;
            clear: none;
            text-align: left;
            padding: 24px 10px;
        }

        .copy {
            clear:none;
            float: right;
            width: 300px;
            text-align: right;
            padding: 0 0 0 20px;
            height: 82px;
            display: flex;
            align-items: center;

            & > span {
                max-height: 53px;
                overflow: hidden;
                width: 100%;
            }
        }
    }

    .socialHub {
        position: absolute;
        right: 0;
        top: -14px;

        &Item {
            float: left;
        }
    }
}
