.slideSelectorCanvas {
  display: block;
  position: relative;
  overflow: hidden;

  .wrapper {
    position: relative;
    width: 100%;
    left: 0;
    transition: all 0.5s ease;
    background: #ff0000;
    display: flex;
    justify-content: space-between;

    & > div {
        flex: 1 0 100%;
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
    }

    .previous {
        background: #f00;
    }

    .current {
        background: #00f;
    }

    .next {
        background: #0f0;
    }
  }
}