.sliderCanvas {
  display: block;
  position: relative;
  overflow: hidden;

  &.slotLeft {
    .wrapper {
      left: 0;
    }
  }

  &.slotRight {
    .wrapper {
      left: -200%;
    }
  }

  &.replacement {
    .wrapper {
      transition: none;
    }
  }

  .wrapper {
    position: relative;
    width: 100%;
    left: -100%;
    transition: all 0.5s ease;
    display: flex;
    justify-content: space-between;

    & > div {
        flex: 1 0 100%;
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
    }
  }
}