<html lang="en">
<head>
    <title>Web Site - Edit Panel</title>
    <link data-backend-add="#head" rel="stylesheet" type="text/css" href="/resource/base/css/admin/style.css" />

    <backend:container id="headIcon" data-backend-block="Builder\Site\Block\Data">
        <link rel="shortcut icon" data-backend-bind="attribute:href:$siteIconImage" />
        <link rel="icon" type="image/x-icon" data-backend-bind="attribute:href:$siteIconImage" />
    </backend:container>
</head>
<body class="panel">
    <iframe id="adminCanvas" src=""></iframe>

    <div id="adminPanel"></div>
    <script type="module">
        import { Manager } from '/resource/base/js/admin/manager.js';

        const manager = (new Manager(
            document.getElementById('adminCanvas'),
            document.getElementById('adminPanel'),
            '/resource/base/json/lang/admin'
        ));
        manager.showCss('/resource/base/css/admin/panel.css');
        await manager.loadTranslation();
        manager.show();
    </script>
</body>
</html>