<html lang="en" xmlns:backend="http://example.com/backend">
<head>
    <meta name="backend-update" content="index" />

    <backend:container id="headContentScripts" type="application/html" data-backend-add="#head" data-backend-block="Builder\Content\Block\Scripts">
        <link rel="stylesheet" type="text/css" data-backend-bind="attribute:href:$pageCss" />
    </backend:container>

    <backend:container id="headSeo" type="application/html" data-backend-replace="#headSeo" data-backend-block="Builder\Content\Block\Seo">
        <!--: if $title -->
            <title><!--: echo $title --></title>
        <!--: endif -->

        <!--: if $description -->
            <meta name="description" data-backend-bind="attribute:content:$description" />
        <!--: endif -->
    </backend:container>
</head>
<body>
    <main data-backend-replace="#main" id="main" data-backend-block="Builder\Content\Block\Content" class="main">
        <!--: if $header -->
            <h1><!--: echo $header --></h1>
        <!--: endif -->

        <!--: if $content -->
            <div><!--: echo $content --></div>
        <!--: endif -->
    </main>
</body>
</html>