<html lang="en">
<head>
    <title>Web Site - Edit Panel</title>
    <link data-backend-add="#head" rel="stylesheet" type="text/css" href="/resource/base/css/panel/style.css" />
</head>
<body class="panel">
    <iframe id="adminCanvas" src="http://sample.localhost/cms/page/123"></iframe>

    <div id="adminPanel"></div>
    <script type="module">
        import { Manager } from '/resource/base/js/panel/manager.js';

        const manager = (new Manager(
            document.getElementById('adminCanvas'),
            document.getElementById('adminPanel'),
            '/resource/base/json/lang/panel'
        ));
        manager.showCss('/resource/base/css/panel/admin.css');
        await manager.loadTranslation();
        manager.show();
    </script>
</body>
</html>