<html lang="en">
<head>
    <link data-backend-add="#head" rel="stylesheet" type="text/css" href="/resource/googFlat/css/component/footer/common.css" />
    <link data-backend-add="#head" rel="stylesheet" type="text/css" media="screen and (min-width: 768px)" href="/resource/googFlat/css/component/footer/tablet.css" />
    <link data-backend-add="#head" rel="stylesheet" type="text/css" media="screen and (min-width: 1024px)" href="/resource/googFlat/css/component/footer/desktop.css" />
</head>
<body>
</body>
</html>