<html lang="en" xmlns:backend="http://example.com/backend">
<head>
    <link data-backend-add="#head" rel="stylesheet" type="text/css" href="/resource/googFlat/css/component/header/common.css" />
    <link data-backend-add="#head" rel="stylesheet" type="text/css" media="screen and (min-width: 768px)" href="/resource/googFlat/css/component/header/tablet.css" />
    <link data-backend-add="#head" rel="stylesheet" type="text/css" media="screen and (min-width: 1024px)" href="/resource/googFlat/css/component/header/desktop.css" />
</head>
<body>
</body>
</html>