.restorePassword {
    h1 {
        text-align: center;
    }

    .successType {
        text-align: center;
        font-size: 1.5em;
        padding: 20px 0;

        table {
            margin: 20px auto;
            th {
                text-align: right;
                padding: 0 10px 0 0;
            }

            td {
                text-align: left;
            }
        }
    }

    .errorType {
        text-align: center;
        font-size: 1.5em;
        padding: 20px 0;
    }
}
