@import "../../../../js/library/editor/editor";

#adminPanelControl {
  .formPage {
    .tabGeneral {
      .fieldsUriHeader {
        & > div:nth-child(1) {
          width: 50%;
          margin: 0;
          padding: 0;
        }
        & > div:nth-child(2) {
          width: calc(50% - 100px);
          margin: 0;
          padding: 0;
        }
        & > div:nth-child(3) {
          width: 100px;
          margin: 0;
          padding: 0;
        }
        & > div:first-child {
          input, select {
            margin-left: 0;
          }
        }
        & > div:last-child {
          input, select {
            margin-right: 0;
          }
        }
      }

      .fieldDescription {
        & > label {
          z-index: 9;
          margin: -10px 0 0 10px;
          color: #000;
          font-size: 10px;
          padding: 3px;
          background: #fff;
          border-radius: 5px;
          border: 1px solid #777777;
          position: absolute;
        }

        & > .editorWrapper {
          padding-top: 14px;
        }
      }
    }
  }
}
