<html lang="en">
<head>
    <link data-backend-add="#head" rel="stylesheet" type="text/css" href="/resource/base/css/component/footer/common.css" />
    <link data-backend-add="#head" rel="stylesheet" type="text/css" media="screen and (min-width: 768px)" href="/resource/base/css/component/footer/tablet.css" />
    <link data-backend-add="#head" rel="stylesheet" type="text/css" media="screen and (min-width: 1024px)" href="/resource/base/css/component/footer/desktop.css" />
</head>
<body>
    <footer class="footer" data-backend-replace="#footer">
        <div>
            <a href="#" class="logo">
                <img src="https://tereta.dev/storage/site_5/logo.png" alt="Logo" />
            </a>
            <div class="contacts">
                <a href="tel:+380988755733" class="phoneNumber">+380988755733</a>
                <a href="/cdn-cgi/l/email-protection#532736213627327d323f362b323d37362113343e323a3f7d303c3e" class="eMail"><span class="__cf_email__" data-cfemail="e3978691869782cd828f869b828d878691a3848e828a8fcd808c8e">[email&#160;protected]</span></a>
            </div>
            <div class="copy">
                <!-- @dataAdmin {"site": {"field": "phone"}} -->
                © 2008-2020yy. SEA "Tereta Alexander Viktorovich
            </div>
        </div>
    </footer>
</body>
</html>