<html lang="en" xmlns:backend="http://example.com/backend">
<head>
    <link data-backend-add="#head" rel="stylesheet" type="text/css" href="/resource/base/css/component/header/common.css" />
    <link data-backend-add="#head" rel="stylesheet" type="text/css" media="screen and (min-width: 768px)" href="/resource/base/css/component/header/tablet.css" />
    <link data-backend-add="#head" rel="stylesheet" type="text/css" media="screen and (min-width: 1024px)" href="/resource/base/css/component/header/desktop.css" />
</head>
<body>
    <header class="header" id="header" data-backend-replace="#header">
        <div class="headerBox" data-backend-block="Builder\Site\Block\Data">
            <a href="https://tereta.dev" class="headerLogo" data-admin-init='"site": {"field": "logo"}'>
                <img data-backend-bind="attribute:src:$siteLogoImage" alt="Logo" />
            </a>
            <nav class="headerMenu">
                <input type="checkbox" name="burger" class="burgerMenu" id="menu" />
                <label for="menu" class="burgerMenu"><span class="iconBurger"></span></label>

                <backend:container data-backend-block="Builder\Menu\Block\Menu" data-backend-data='"identifier": "default"'>
                    <ul class="menu">
                        <!--: foreach $list as $item -->
                        <li class="menuItem">
                            <a data-backend-bind="attribute:href:$item[link]">
                                <!--: echo $item[label] -->
                            </a>

                            <!--: if $item[menu] -->
                                <ul class="menu">
                                    <!--: foreach $item[menu] as $item -->
                                        <li class="menuItem">
                                            <a data-backend-bind="attribute:href:$item[link]">
                                                <!--: echo $item[label] -->
                                            </a>

                                            <!--: if $item[menu] -->
                                            <ul class="menu">
                                                <!--: foreach $item[menu] as $item -->
                                                <li class="menuItem">
                                                    <a data-backend-bind="attribute:href:$item[link]">
                                                        <!--: echo $item[label] -->
                                                    </a>
                                                </li>
                                                <!--: endforeach -->
                                            </ul>
                                            <!--: endif -->
                                        </li>
                                    <!--: endforeach -->
                                </ul>
                            <!--: endif -->
                        </li>
                        <!--: endforeach -->
                    </ul>
                </backend:container>
            </nav>
        </div>
    </header>
</body>
</html>