<html lang="en">
<head>
    <meta name="backend-update" content="index" />
    <script data-backend-add="#head">alert("-=1=-")</script>
</head>
<body>
    <content data-backend-replace="#content" data-backend-block="Builder\Cms\Block\Content">
        <hr />
        <!--: if $content -->
            <div><!--: render $content --></div>
            <div data-backend-block="Builder\Cms\Block\Time">xxx</div>
        <!--: endif -->
        <hr />
        HR
        <br />
        BR

        <script>alert("ok")</script>
    </content>
</body>
</html>