<html lang="en">
<head data-backend-merge="head">
    <meta name="backend-update" content="index" />
</head>
<body>
    <content data-backend-replace="#content" data-backend-block="Builder\Cms\Block\Content">
        <hr />
        <!--: if $content -->
            <!--: foreach $content['element'] as $key => $item -->
                <div><!--: render $content --></div>
                <div data-backend-block="Builder\Cms\Block\Time">xxx</div>
            <!--: endForeach -->
        <!--: endif -->
        <hr />
        HR
        <br />
        BR
    </content>
</body>
</html>