#adminPanelControl {
    .form_listing{
        & > fieldset {
            & > table {
                width: 100%;
                padding: 10px 10px;

                thead {
                    tr {
                        th:nth-child(3) {
                            width: 100px;

                            a {
                                color: #fff;
                            }
                        }
                    }
                }

                tbody {
                    tr {
                        td:nth-child(3) {
                            text-align: center;

                            a {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}
